<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.xidian.ruisi">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/default_danma_ico_0"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.WebViewActivity" />
        <activity android:name=".activity.ArticlesActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".base.BaseActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.MyCollectActivity" />
        <activity android:name=".activity.MyMessageActivity" />
        <activity android:name=".activity.MyDatumActivity" />
        <activity android:name=".activity.MyTopicActivity"></activity>
    </application>

</manifest>
